<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="/public/css/login-form-style.css">
</head>
<body>
    
    <div class="form">
        <form action = "../../app/controller/LoginController.php" method="post">
            <fieldset>
                <label for="">LOG IN</label>
                 <p>
                     <input type="tel" name="id_usuario" id="id_usario" placeholder="Telefone">
                 </p>
                 <p>
                     <input type="password" name="senha_usuario" id="senha_usuario" placeholder="Senha">
                 </p>
                 <p id="btn-submit">
                     <input type="submit" value="Entrar">
                 </p>
             </fieldset>
        </form>
    </div>
</body>
</html>