@font-face {
    font-family: 'poppins';
    src: url('/fonts/poppins/Poppins-Regular.ttf')/*Para os demais navegadores*/;
    font-weight: normal;
    font-style: normal;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #EAEDF2;
}
div.corpo{
    display: grid;
    grid-template-columns: 1fr minmax(150px, 25%);
    
}

header{
    margin-bottom: 15px;
}
footer{
    background-color: #002860;
    height: 4rem;
    position:relative;
    bottom: 0;
    width:100%;
    display:grid;
    align-items: center;
    justify-content: center;
}
div.menu{
    background-color: #fff;
    border-radius: 10px;
    height: 75vh;
}
div h2{
    padding: 10px;
    margin-bottom: 75px;
    color: #173B6E;
}
button{
    font-size: 12pt;
    color:#fff;
    font-weight: bold;
    background-color: #00C076;
    text-align: center;
    width: 150px;
    height: 100px;
    box-shadow: none;
    border: 0px;
}
button#verde-escuro{
    background-color: #4A876F;
}
button:hover, button#verde-escuro:hover{
    background-color: #173B6E;
}
button{
    margin: 0 20vh;
    width: 10rem;
}
div.btn{
    display: grid;
    place-items: center;
}
div#l1{
    display: flex;
    flex-direction: row;
    padding: 20px;
}



#info{
    color: #000;
    margin: 10px;
    background-color: #fff;
    width: fit-content;
    height: 40vh;
    text-align: center;
    align-items: center;
    border: #000 solid 1px;
}
.info{
    margin-top: 4rem;
    
}
p{
    display: flex;
    justify-content: right;
    margin-right: 20px;
}
p img{
    border-radius: 100%;
}
