body{
    margin:0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
  }
header, footer{
    background-color: #002860;
    height: 10vh;
    display:grid;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100vw;
}
fieldset{
    border: solid 5px;
    border-color: #00C076;
    border-radius: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    padding: 20px;
}