body{
    margin:0;
    padding: 0;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:black;
    margin-bottom: 11vh;
  }
header, footer{
    color:#fff;
    background-color: #002860;
    height: 10vh;
    display:grid;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
}
footer{
    position:fixed;
    bottom: 0;
    width: 100vw;
}
fieldset{
    border: solid 5px;
    border-color: #00C076;
    border-radius: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    padding: 20px;
}
.cancelar, .confirmar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    border-style: none;
    height: 3rem;
    transition: .3s;
    width: 100px;
    align-items: center;
}
.confirmar{
    background-color:#00C076;
    color:#002860;
    font-style: bold;
    text-align: center;
}
button{
    text-align: center;
    align-items: center;
}
.cancelar{
    
    background-color: #ff0000;
    color:#fff;
    padding-left: 10px;
    border-radius: 30px;
   
}