fieldset{
    border: solid 5px;
    border-color: #00C076;
    border-radius: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 40vh;
    padding: 20px;
}
p{
    margin: 10px;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
  }
  label{
      color:#002860;
      text-align: right;
  }
  input{
    border-style: none;
    background-color: #002860;
    padding-left: 10px;
    border-radius: 30px;
    height: 3rem;
    padding: 20px;
    transition: .3s;
    width: 20vw;

  }
  input:focus{
      transition: .5s;
      width: 20.5vw;
      border-color: #00C076;
  }
  
  input::placeholder{
      color:white;
  }
  input[type="submit"]{
      background-color:#00C076;
      color:#002860;
      font-style: bold;
      padding: 0px;
      border-radius:10px;
      height: 40px;
      width: 100px;
      transition: .2s;
  }
  input[type="submit"]:hover{
    color:#fff;
    transition: .2s;
    width: 120px;
}
  p#btn-submit{
    display: grid;
    align-items: center;
    justify-content: center;
  }
.form{
    margin-top: 4rem;
    display:grid;
    place-items: center;
    justify-content: center;
}
