<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisar Funcionário</title>
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/registares/pesquisar-funcionario.css">
</head>
<body>
    <header>REGISTAR FUNCION&Aacute;RIO</header>
    <div class="pesquisa">
        <form action="" method="get">
            <fieldset>
                <p>
                    <label for="documento">DOCUMENTO</label> 
                    <select name="documento" id="documento">
                        <option value="BI">BI</option>
                        <option value="Cartão de eleitor">BI</option>
                        <option value="DIRE">BI</option>
                        <option value="BI">BI</option>
                        <option value="BI">BI</option>
                    </select>
                </p>
                <p>
                    <label for="numero">N&uacute;mero</label>
                    <input type="text" name="numero" id="numero">
                </p>
                <input type="submit" value="Submeter">
            </fieldset>
        </form>
    </div>
</body>
</html>