<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Fiscal</title>
    <link rel="stylesheet" href="/public/css/fiscal.css">
    <!--Para o Header-->
    <link rel="stylesheet" href="/public/css/header-style.css">
</head>
<body>
    
    <div class="corpo">
        <div>
            <header>Sistema de Gest&atilde;o de Funcion&aacute;rios e Autocarro</header>
            <div class="menu">
                <h2>Menu Principal</h2>
                <div class="btn">
                <Button>
                    Alocar<br>
                    Autocarro
                </Button>
                </div>
            </div>
            <footer>
                SGFAT &#64; 2021
            </footer>
        </div>
        <div class="info">
            <p>
                <img src="/public/img/user-64.png" alt="user-64" srcset="">
            </p>
            <p id="info">
                Aqui Fica a descricao Responsabilidade do model
            </p>
        </div>
    </div>
</body>
</html>