body{
    background-color: #EAEDF2;
    margin: 0px;
}
.corpo{
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr minmax(150px, 30%);
}
header, footer{
    background-color: #002860;
    height: 10vh;
    display:grid;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    box-sizing: border-box;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:white;
}
footer{
    position:fixed;
    bottom: 0px;
    width: 70%;
}
.menu{
    background-color: #FFFFFF;
    color:#173B6E;
    margin: 10px 0px;
    border-radius: 20px;
    padding: 20px;
    height: 65vh;
}
.info{
    margin-top: 10vh;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold; 
}
p img{
    border-radius: 50px;
    margin-left: 75%;
}
#info > div > div{
    color:#00C076;
}
#info{
    background-color: #fff;
    border: solid 1px black;
    height: 37vh;
    margin: 5px 15px;
    display:grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div.btn{
    display: grid;
    place-items: center;
}

button{
    font-size: 12pt;
    color:#fff;
    font-weight: bold;
    text-align: center;
    width: 150px;
    height: 100px;
    box-shadow: none;
    border: 0px;
    margin: 0px 20px;
}
.verde button{
    background-color: #00C076;
}
.cinza button{
    background-color: #88918D;
}
button#verde-escuro{
    background-color: #4A876F;
}
button:hover, button#verde-escuro:hover{
    background-color: #173B6E;
}
.logout{
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    margin: 20px;
    color:red;
}