<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template-Formulario</title>
</head>
<body>
    <h2>NOME DO FORMULARIO</h2>
    <form action="" method="get">
        <div id="d1">
            <div class="l1">
                <p>
                    <label for="nome">NOME</label> 
                    <input type="text" name="nome" id="nome">
                </p>
                <p>
                    <label for="sexo">SEXO</label> 
                   <select name="sexo" id="sexo">
                       <option value="m" selected>M</option>
                       <option value="f">F</option>
                   </select>
                </p>
                <p>
                    <label for="dtNascimento">DATA DE NASCIMENTO</label> 
                    <input type="date" name="dtNascimento" id="dtNascimento" required>
                </p>
            </div>
            <div class="l2">
                <p>
                    <label for="documento">DOCUMENTO</label> 
                    <select name="documento" id="documento">
                        <option value="BI">BI</option>
                        <option value="Cartão de eleitor">BI</option>
                        <option value="DIRE">BI</option>
                        <option value="BI">BI</option>
                        <option value="BI">BI</option>
                    </select>
                </p>
                <p>
                    <label for="numeroDocumento">NUMERO</label> 
                    <input type="text" name="numeroDocumento" id="numeroDocumento">
                </p>
            </div>
            <div class="l3">
                <p>
                    <label for="nuit">NUIT</label> 
                    <input type="number" name="nuit" id="nuit">
                </p>
                <p>
                    <label for="telefone">TELEFONE</label> 
                    <input type="tel" name="telefone" id="telefone">
                </p>
            </div>
            
        </div>
        <div id="d2">
            <fieldset>
               <p>RESID&Ecirc;NCIA</p>
                <div class="l1">
                    <p>
                        <label for="provincia">PROVINCIA</label>
                        <input type="text" name="provincia" id="provincia">
                    </p>
                    <p>
                        <label for="distrito">DISTRITO</label>
                        <input type="text" name="distrito" id="distrito">
                    </p>
                    <p>
                        <label for="bairro">BAIRRO</label>
                        <input type="text" name="bairro" id="bairro">
                    </p>
                </div>
                <div class="l2">
                    <p>
                        <label for="quarteirao">Quarteirao</label>
                        <input type="text" name="quarteirao" id="quarteirao" maxlength="4">
                    </p>
                    <p>
                        <label for="casa">CASA Nº</label>
                        <input type="number" name="casa" id="casa">
                    </p>
                </div>
            </fieldset>
            <input type="button" value="CONTINUAR">
        </div>
    </form>
    <button>CANCELAR</button>
</body>
</html>